---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [66]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [67]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}
#swapped_states = {value:key for key, value in states.items()}

In [68]:
def get_list_of_university_towns():
#     '''Returns a DataFrame of towns and the states they are in from the 
#     university_towns.txt list. The format of the DataFrame should be:
#     DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
#     columns=["State", "RegionName"]  )
    
#     The following cleaning needs to be done:

#     1. For "State", removing characters from "[" to the end.
#     2. For "RegionName", when applicable, removing every character from " (" to the end.
#     3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    
    # open university_towns file and read data into a variable
    univ_file = open('university_towns.txt') 
    univ_text = univ_file.read()
    
    # split text string by new line \n
    univ = univ_text.split('\n')
    
    # capture the first state in the data to add to respective regions
    state = univ[0]
    
    # create empty list to store paired state and region names
    df_data = []
    
    # if a line in the univ data contains [edit], then replace the state value
    # Otherwise, create tupple with that state, region and append to new list
    for line in univ:
        if '[edit]' in line:
            state = line
            continue
        else:
            df_data.append([state, line])
    
    # convert list of tuples into a dataframe and name columns
    df = pd.DataFrame(df_data, columns=['State', 'RegionName'])
    
    # remove [edit] from state names
    df['State'] = df['State'].str.replace(r"\[edit\]", '')
    df['State'] = df['State'].str.strip()
    
    # replace blank RegionNames with NaN and then drop from df
    df['RegionName'] = df['RegionName'].replace('', np.nan)
    df.dropna(subset=['RegionName'], inplace=True)
    
    # split RegionNames column into two columns by (. Replace RegionName with everything before (.
    region_clean = df['RegionName'].str.split('(', n=1, expand=True)
    df['RegionName'] = region_clean[0]
    
    # remove any whitespace from RegionName
    df['RegionName'] = df['RegionName'].str.strip()
    
    return df

get_list_of_university_towns()

             State                    RegionName
0          Alabama                        Auburn
1          Alabama                      Florence
2          Alabama                  Jacksonville
3          Alabama                    Livingston
4          Alabama                    Montevallo
5          Alabama                          Troy
6          Alabama                    Tuscaloosa
7          Alabama                      Tuskegee
8           Alaska                     Fairbanks
9          Arizona                     Flagstaff
10         Arizona                         Tempe
11         Arizona                        Tucson
12        Arkansas                   Arkadelphia
13        Arkansas                        Conway
14        Arkansas                  Fayetteville
15        Arkansas                     Jonesboro
16        Arkansas                      Magnolia
17        Arkansas                    Monticello
18        Arkansas                  Russellville
19        Arkansas                        Searcy
20      California                        Angwin
21      California                        Arcata
22      California                      Berkeley
23      California                         Chico
24      California                     Claremont
25      California                        Cotati
26      California                         Davis
27      California                        Irvine
28      California                    Isla Vista
29      California  University Park, Los Angeles
..             ...                           ...
487       Virginia                          Wise
488       Virginia                    Chesapeake
489     Washington                    Bellingham
490     Washington                        Cheney
491     Washington                    Ellensburg
492     Washington                       Pullman
493     Washington  University District, Seattle
494  West Virginia                        Athens
495  West Virginia                    Buckhannon
496  West Virginia                      Fairmont
497  West Virginia                     Glenville
498  West Virginia                    Huntington
499  West Virginia                    Montgomery
500  West Virginia                    Morgantown
501  West Virginia                 Shepherdstown
502  West Virginia                  West Liberty
503      Wisconsin                      Appleton
504      Wisconsin                    Eau Claire
505      Wisconsin                     Green Bay
506      Wisconsin                     La Crosse
507      Wisconsin                       Madison
508      Wisconsin                     Menomonie
509      Wisconsin                     Milwaukee
510      Wisconsin                       Oshkosh
511      Wisconsin                   Platteville
512      Wisconsin                   River Falls
513      Wisconsin                 Stevens Point
514      Wisconsin                      Waukesha
515      Wisconsin                    Whitewater
516        Wyoming                       Laramie

[517 rows x 2 columns]

In [69]:
# function to read and clean up GDP data
def GDP_data():
    # specify which rows to skip
    rows_skip = [1,2,3,4,5]

    # specify which columns to skip
    cols_skip = [0,1,2,3]

    # specify which columns to keep
    cols = [i for i in range(7) if i not in cols_skip]

    #usecols = cols
    # read Excel file, remove unnecessary columns and rows, and rename column headers
    gdp = (pd.read_excel('gdplev.xls', skiprows=rows_skip, usecols=cols,
                        names=['Year_Qtr', 'GDP in billions', 'GDP in billions chained 2009']))
    
    # drop any rows with NaN values. There are some blank rows after the header row
    gdp.dropna(axis=0, inplace=True)
    
    # grab the first four digits from the Year_Qtr column and convert to int
    gdp['year'] = gdp['Year_Qtr'].str[:4]
    gdp['year'] = gdp['year'].astype(int)
    
    # create df subset for 2000 and greater
    gdp_2000 = gdp[gdp['year'] >= 2000]
    gdp_2000.reset_index(drop=True, inplace=True)
    
    return gdp_2000


def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    
    # call function to return cleaned up GDP data
    gdp = GDP_data()
    
    # calculate change in GDP from each year
    gdp['change_in_gdp'] = gdp['GDP in billions chained 2009'] - gdp['GDP in billions chained 2009'].shift(1)
    
    # formula to identify when current and previous years' change in GDP are negative and then next year change is positive
    beg_rec=(gdp['change_in_gdp'].shift(1)>0) & (gdp['change_in_gdp']<0) & (gdp['change_in_gdp'].shift(-1)<0)
    
    # create new column to identify the year & qtr when a recession starts
    gdp['start_rec'] = gdp['change_in_gdp'].where(beg_rec)
    
    # create new df where recession start is identified
    rec_start = gdp[gdp.start_rec.notnull()]
    
    return rec_start['Year_Qtr'].item()

get_recession_start()

'2008q3'

In [70]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
    
    # call function to return cleaned up GDP data
    gdp = GDP_data()
    
    # calculate change in GDP from each year
    gdp['change_in_gdp'] = gdp['GDP in billions chained 2009'] - gdp['GDP in billions chained 2009'].shift(1)
    
    # grab year & qtr of recession start and find its index
    start = get_recession_start() 
    start_ind = gdp.loc[gdp['Year_Qtr']==start].index[0]
    
    # limit dataset to start from recession start
    gdp_2008 = gdp.iloc[start_ind:]
    
    # formula to identify when current and previous years' change in GDP are positive
    end_rec=(gdp_2008['change_in_gdp'].shift(2)<0) & (gdp_2008['change_in_gdp'].shift(1)>0) & (gdp_2008['change_in_gdp']>0)
       
    # create new column to identify the year & qtr when a recession ends
    gdp_2008['end_rec'] = gdp_2008['change_in_gdp'].where(end_rec)
    
    # create new df where recession ends is identified
    rec_end = gdp_2008[gdp_2008.end_rec.notnull()]
    rec_end = rec_end['Year_Qtr'].head(1)
    
    return rec_end.item()

get_recession_end()

'2009q4'

In [71]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    
    # call function to return cleaned up GDP data
    gdp = GDP_data()
    
    # calculate change in GDP from each year
    gdp['change_in_gdp'] = gdp['GDP in billions chained 2009'] - gdp['GDP in billions chained 2009'].shift(1)
    
    # grab year & qtr of recession start and end and find their indexes
    start = get_recession_start()
    end = get_recession_end()
    
    start_ind = gdp.loc[gdp['Year_Qtr']==start].index[0]
    end_ind = gdp.loc[gdp['Year_Qtr']==end].index[0]
    
    # limit dataset to from recession start to recession end
    rec = gdp.iloc[start_ind:end_ind]
    
    # find min of change_in_gdp to find recession bottom and return its index
    rec_bottom = rec.loc[rec['GDP in billions chained 2009'].idxmin()]
    
    # return Year & Qtr of recession bottom
    return rec_bottom['Year_Qtr']

get_recession_bottom()

'2009q2'

In [72]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    
    # read csv file and set index
    housing = pd.read_csv('City_Zhvi_AllHomes.csv')#, index_col=['State', 'RegionName'])
    
    # use map function to rename state to state abbreviation
    housing['State'] = housing['State'].map(states)
    
    housing.set_index(['State', 'RegionName'], inplace=True)
    
    # find index of housing prices starting at 2000
    col_start = housing.columns.get_loc("2000-01")
    
    # create subset of housing data from 2000 on
    housing_2000 = housing.iloc[:,col_start:]
    
    # display Energy Supply as float vs scientific notation
    pd.options.display.float_format = '{:,}'.format
    
    # take the mean of the house prices for 3 columns at a time to calc mean housing prices per qtr
    mean_housing = pd.concat([housing_2000.ix[:,i:i+3].mean(axis=1) for i in range(0,len(housing_2000.columns),3)], axis=1)
    
    # create dict for column names
    col_rename = {}
    counter = 0
  
    for year in range(2000, 2017):
        for qtr in range(1, 5):
            item = {counter : (str(year) + "q" + str(qtr))}
            col_rename.update(item)
            counter += 1
    
    # rename df columns to columns in dict
    mean_housing.rename(columns=col_rename, inplace=True)
        
    return mean_housing
    
convert_housing_data_to_quarters()

,,2000q1,2000q2,2000q3,2000q4,2001q1,2001q2,2001q3,2001q4,2002q1,2002q2,...,2014q2,2014q3,2014q4,2015q1,2015q2,2015q3,2015q4,2016q1,2016q2,2016q3
State,RegionName,,,,,,,,,,,,,,,,,,,,,
New York,New York,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,"515,466.6666666667","522,800.0","528,066.6666666666","532,266.6666666666","540,800.0","557,200.0","572,833.3333333334","582,866.6666666666","591,633.3333333334","587,200.0"
California,Los Angeles,"207,066.66666666666","214,466.66666666666","220,966.66666666666","226,166.66666666666","233,000.0","239,100.0","245,066.66666666666","253,033.33333333334","261,966.66666666666","272,700.0",...,"498,033.3333333333","509,066.6666666667","518,866.6666666667","528,800.0","538,166.6666666666","547,266.6666666666","557,733.3333333334","566,033.3333333334","577,466.6666666666","584,050.0"
Illinois,Chicago,"138,400.0","143,633.33333333334","147,866.66666666666","152,133.33333333334","156,933.33333333334","161,800.0","166,400.0","170,433.33333333334","175,500.0","177,566.66666666666",...,"192,633.33333333334","195,766.66666666666","201,266.66666666666","201,066.66666666666","206,033.33333333334","208,300.0","207,900.0","206,066.66666666666","208,200.0","212,000.0"
Pennsylvania,Philadelphia,"53,000.0","53,633.333333333336","54,133.333333333336","54,700.0","55,333.333333333336","55,533.333333333336","56,266.666666666664","57,533.333333333336","59,133.333333333336","60,733.333333333336",...,"113,733.33333333333","115,300.0","115,666.66666666667","116,200.0","117,966.66666666667","121,233.33333333333","122,200.0","123,433.33333333333","126,933.33333333333","128,700.0"
Arizona,Phoenix,"111,833.33333333333","114,366.66666666667","116,000.0","117,400.0","119,600.0","121,566.66666666667","122,700.0","124,300.0","126,533.33333333333","128,366.66666666667",...,"164,266.66666666666","165,366.66666666666","168,500.0","171,533.33333333334","174,166.66666666666","179,066.66666666666","183,833.33333333334","187,900.0","191,433.33333333334","195,200.0"
Nevada,Las Vegas,"132,600.0","134,366.66666666666","135,400.0","137,000.0","139,533.33333333334","141,733.33333333334","143,366.66666666666","146,133.33333333334","149,333.33333333334","150,933.33333333334",...,"170,066.66666666666","173,400.0","175,466.66666666666","177,500.0","181,600.0","186,766.66666666666","190,633.33333333334","194,600.0","197,200.0","199,950.0"
California,San Diego,"222,900.0","234,366.66666666666","245,433.33333333334","256,033.33333333334","267,200.0","276,266.6666666667","284,500.0","291,933.3333333333","301,233.3333333333","312,866.6666666667",...,"480,200.0","489,033.3333333333","496,433.3333333333","503,366.6666666667","512,066.6666666667","519,766.6666666667","525,466.6666666666","529,333.3333333334","536,233.3333333334","539,750.0"
Texas,Dallas,"84,466.66666666667","83,866.66666666667","84,866.66666666667","87,833.33333333333","89,733.33333333333","89,300.0","89,066.66666666667","90,900.0","92,566.66666666667","93,800.0",...,"106,633.33333333333","108,900.0","111,533.33333333333","113,700.0","121,133.33333333333","128,566.66666666667","134,600.0","140,500.0","144,600.0","149,300.0"
California,San Jose,"374,266.6666666667","406,566.6666666667","431,866.6666666667","455,500.0","470,666.6666666667","470,200.0","456,800.0","445,566.6666666667","441,433.3333333333","457,766.6666666667",...,"679,400.0","697,033.3333333334","714,933.3333333334","731,433.3333333334","756,733.3333333334","776,400.0","789,133.3333333334","803,600.0","818,933.3333333334","822,200.0"
Florida,Jacksonville,"88,600.0","89,700.0","91,700.0","93,100.0","94,400.0","95,600.0","97,066.66666666667","99,066.66666666667","101,233.33333333333","103,433.33333333333",...,"120,766.66666666667","121,733.33333333333","123,166.66666666667","124,166.66666666667","126,900.0","130,133.33333333333","132,000.0","133,966.66666666666","137,200.0","139,900.0"
California,San Francisco,"430,500.0","464,466.6666666667","483,533.3333333333","493,000.0","494,066.6666666667","496,133.3333333333","504,100.0","513,400.0","520,433.3333333333","538,166.6666666666",...,"926,933.3333333334","954,533.3333333334","968,766.6666666666","1,000,733.3333333334","1,060,800.0","1,095,100.0","1,105,466.6666666667","1,121,766.6666666667","1,119,266.6666666667","1,106,400.0"
Texas,Austin,"142,966.66666666666","145,266.66666666666","149,466.66666666666","155,733.33333333334","161,233.33333333334","160,733.33333333334","159,533.33333333334","160,033.33333333334","158,966.66666666666","157,500.0",...,"248,866.66666666666","252,800.0","258,133.33333333334","266,500.0","275,033.3333333333","281,633.3333333333","287,233.3333333333","293,500.0","301,433.3333333333","304,450.0"
Michigan,Detroit,"66,166.66666666667","68,300.0","66,766.66666666667","67,033.33333333333","67,500.0","68,366.66666666667","69,266.66666666667","69,966.66666666667","71,000.0","72,333.33333333333",...,"37,300.0","37,100.0","37,133.333333333336","36,200.0","35,833.333333333336","37,066.666666666664","38,366.666666666664","37,966.666666666664","37,466.666666666664","37,900.0"
Ohio,Columbus,"94,366.66666666667","95,833.33333333333","97,133.33333333333","98,266.66666666667","99,400.0","100,266.66666666667","101,066.66666666667","102,200.0","103,400.0","104,800.0",...,"103,133.33333333333","104,500.0","106,433.33333333333","107,866.66666666667","109,433.33333333333","111,566.66666666667","115,000.0","116,700.0","118,200.0","120,100.0"
Tennessee,Memphis,"72,500.0","73,200.0","73,866.66666666667","74,000.0","74,166.66666666667","74,933.33333333333","75,500.0","76,066.66666666667","76,333.33333333333","76,766.66666666667",...,"68,100.0","69,100.0","71,166.66666666667","70,533.33333333333","68,700.0","68,666.66666666667","69,533.33333333333","70,900.0","74,166.66666666667","75,900.0"
North Carolina,Charlotte,"126,933.33333333333","128,366.66666666667","130,200.0","131,566.66666666666","132,933.33333333334","133,200.0","132,800.0","133,100.0","134,366.66666666666","135,366.66666666666",...,"149,466.66666666666","150,633.33333333334","152,733.33333333334","155,166.66666666666","157,900.0","160,166.66666666666","162,866.66666666666","166,466.66666666666","169,433.33333333334","172,400.0"
Texas,El Paso,"76,266.66666666667","76,866.66666666667","76,733.33333333333","77,300.0","78,233.33333333333","78,300.0","77,433.33333333333","76,800.0","76,600.0","76,400.0",...,"111,800.0","111,733.33333333333","111,766.66666666667","111,500.0","111,300.0","111,066.66666666667","110,266.66666666667","110,666.66666666667","111,466.66666666667","112,200.0"
Massachusetts,Boston,"206,933.33333333334","219,166.66666666666","233,100.0","242,500.0","249,600.0","257,066.66666666666","266,933.3333333333","274,966.6666666667","282,500.0","289,300.0",...,"426,666.6666666667","431,433.3333333333","440,733.3333333333","448,500.0","455,366.6666666667","463,966.6666666667","471,633.3333333333","482,600.0","490,366.6666666667","501,700.0"
Washington,Seattle,"248,600.0","255,600.0","262,533.3333333333","267,400.0","271,000.0","272,433.3333333333","274,166.6666666667","278,166.6666666667","280,500.0","284,600.0",...,"441,800.0","451,500.0","459,166.6666666667","467,933.3333333333","493,366.6666666667","514,266.6666666667","533,466.6666666666","551,733.3333333334","575,533.3333333334","589,700.0"
Maryland,Baltimore,"59,666.666666666664","59,500.0","58,833.333333333336","59,500.0","59,566.666666666664","60,133.333333333336","62,100.0","63,400.0","63,666.666666666664","64,900.0",...,"109,233.33333333333","109,533.33333333333","107,366.66666666667","108,066.66666666667","111,433.33333333333","113,966.66666666667","113,900.0","114,666.66666666667","114,733.33333333333","115,150.0"
Colorado,Denver,"162,233.33333333334","167,833.33333333334","174,333.33333333334","180,333.33333333334","186,500.0","192,533.33333333334","196,400.0","199,100.0","201,233.33333333334","202,433.33333333334",...,"270,866.6666666667","277,500.0","287,233.3333333333","297,633.3333333333","310,366.6666666667","320,500.0","330,100.0","335,566.6666666667","342,766.6666666667","351,550.0"
District of Columbia,Washington,"137,766.66666666666","144,200.0","148,700.0","147,700.0","149,766.66666666666","155,133.33333333334","164,633.33333333334","172,533.33333333334","180,500.0","193,300.0",...,"446,933.3333333333","453,000.0","460,300.0","466,166.6666666667","481,066.6666666667","493,400.0","500,900.0","504,100.0","505,800.0","516,250.0"
Tennessee,Nashville,"113,833.33333333333","115,266.66666666667","115,866.66666666667","116,933.33333333333","118,033.33333333333","119,166.66666666667","120,100.0","120,800.0","121,566.66666666667","122,633.33333333333",...,"160,700.0","162,300.0","166,900.0","171,466.66666666666","176,266.66666666666","181,800.0","189,200.0","195,066.66666666666","200,366.66666666666","206,100.0"
Wisconsin,Milwaukee,"78,033.33333333333","79,066.66666666667","81,033.33333333333","82,333.33333333333","84,033.33333333333","85,566.66666666667","87,066.66666666667","88,400.0","89,533.33333333333","91,366.66666666667",...,"92,166.66666666667","92,166.66666666667","91,966.66666666667","93,333.33333333333","94,100.0","94,133.33333333333","94,566.66666666667","94,666.66666666667","96,366.66666666667","98,850.0"
Arizona,Tucson,"101,833.33333333333","102,966.66666666667","104,466.66666666667","105,666.66666666667","107,200.0","108,766.66666666667","110,566.66666666667","112,800.0","115,000.0","117,200.0",...,"142,466.66666666666","143,433.33333333334","144,233.33333333334","144,166.66666666666","145,133.33333333334","146,600.0","148,166.66666666666","149,533.33333333334","151,166.66666666666","152,700.0"
Oregon,Portland,"152,800.0","154,766.66666666666","156,566.66666666666","157,466.66666666666","159,900.0","161,800.0","164,266.66666666666","167,766.66666666666","170,766.66666666666","174,133.33333333334",...,"282,233.3333333333","287,266.6666666667","295,533.3333333333","301,933.3333333333","311,900.0","325,733.3333333333","343,066.6666666667","356,000.0","369,800.0","387,050.0"
Oklahoma,Oklahoma City,"76,433.33333333333","77,500.0","78,566.66666666667","79,166.66666666667","79,833.33333333333","80,400.0","81,133.33333333333","81,733.33333333333","82,600.0","83,433.33333333333",...,"118,033.33333333333","118,966.66666666667","120,100.0","120,800.0","122,366.66666666667","124,700.0","127,100.0","127,900.0","129,300.0","130,300.0"
Nebraska,Omaha,"112,800.0","114,100.0","116,733.33333333333","118,900.0","120,866.66666666667","119,766.66666666667","117,866.66666666667","117,400.0","118,066.66666666667","117,633.33333333333",...,"130,100.0","130,300.0","132,500.0","133,066.66666666666","134,466.66666666666","136,733.33333333334","140,066.66666666666","141,633.33333333334","142,666.66666666666","143,450.0"
New Mexico,Albuquerque,"125,866.66666666667","126,700.0","126,433.33333333333","126,733.33333333333","127,100.0","127,733.33333333333","128,566.66666666667","129,900.0","131,066.66666666667","132,100.0",...,"163,266.66666666666","164,000.0","164,800.0","165,166.66666666666","165,900.0","166,533.33333333334","167,333.33333333334","169,100.0","170,633.33333333334","171,900.0"
California,Fresno,"94,100.0","95,266.66666666667","96,466.66666666667","98,233.33333333333","100,566.66666666667","103,566.66666666667","107,233.33333333333","110,300.0","114,033.33333333333","118,533.33333333333",...,"169,633.33333333334","173,600.0","178,133.33333333334","180,466.66666666666","182,033.33333333334","185,700.0","187,466.66666666666","189,033.33333333334","192,733.33333333334","196,450.0"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Texas,Granite Shoals,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,"116,966.66666666667","117,533.33333333333","117,533.33333333333","117,166.66666666667","119,100.0","121,600.0","128,000.0","133,766.66666666666","140,066.66666666666","146,450.0"
Maryland,Piney Point,"155,666.66666666666","155,166.66666666666","158,466.66666666666","163,700.0","163,400.0","164,833.33333333334","164,700.0","167,900.0","178,266.66666666666","181,200.0",...,"296,400.0","309,000.0","309,233.3333333333","309,566.6666666667","301,700.0","305,233.3333333333","309,966.6666666667","319,500.0","324,166.6666666667","324,600.0"
Wisconsin,Maribel,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,"130,600.0","128,966.66666666667","129,633.33333333333","131,266.66666666666","130,133.33333333333","129,733.33333333333","129,300.0","127,833.33333333333","129,266.66666666667","134,200.0"
Idaho,Middleton,"106,066.66666666667","104,333.33333333333","101,900.0","104,166.66666666667","106,166.66666666667","108,366.66666666667","111,033.33333333333","111,233.33333333333","114,100.0","114,166.66666666667",...,"144,366.66666666666","145,700.0","146,233.33333333334","146,166.66666666666","147,733.33333333334","148,200.0","151,133.33333333334","153,900.0","157,166.66666666666","160,750.0"
Colorado,Bennett,"132,900.0","135,833.33333333334","139,800.0","144,666.66666666666","148,300.0","152,100.0","154,233.33333333334","156,200.0","158,733.33333333334","160,633.33333333334",...,"151,466.66666666666","162,066.66666666666","171,400.0","178,033.33333333334","184,433.33333333334","191,666.66666666666","195,800.0","199,766.66666666666","207,466.66666666666","212,600.0"
New Hampshire,East Hampstead,"161,833.33333333334","169,100.0","173,966.66666666666","180,500.0","190,900.0","195,066.66666666666","199,266.66666666666","207,400.0","212,300.0","212,233.33333333334",...,"249,500.0","252,100.0","255,733.33333333334","258,733.33333333334","261,366.66666666666","261,600.0","268,800.0","272,533.3333333333","277,800.0","282,450.0"
Missouri,Garden City,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,"105,500.0","104,300.0","104,766.66666666667","106,033.33333333333","96,066.66666666667","99,300.0","103,433.33333333333","106,266.66666666667","111,666.66666666667","113,600.0"
Arkansas,Mountainburg,"57,166.666666666664","64,333.333333333336","67,833.33333333333","69,000.0","68,666.66666666667","63,866.666666666664","63,766.666666666664","65,466.666666666664","65,333.333333333336","66,000.0",...,"81,600.0","85,066.66666666667","88,466.66666666667","89,033.33333333333","85,566.66666666667","83,700.0","90,433.33333333333","98,333.33333333333","101,900.0","103,400.0"
Wisconsin,Oostburg,"107,266.66666666667","108,100.0","112,433.33333333333","115,500.0","119,100.0","120,433.33333333333","120,366.66666666667","119,633.33333333333","119,866.66666666667","118,566.66666666667",...,"129,566.66666666667","127,933.33333333333","127,433.33333333333","127,066.66666666667","127,400.0","130,333.33333333333","132,033.33333333334","132,766.66666666666","134,100.0","136,350.0"
California,Twin Peaks,"97,366.66666666667","100,166.66666666667","101,333.33333333333","101,700.0","104,000.0","107,666.66666666667","109,833.33333333333","111,133.33333333333","113,200.0","116,600.0",...,"150,100.0","147,533.33333333334","146,066.66666666666","143,500.0","152,300.0","155,266.66666666666","159,166.66666666666","164,166.66666666666","167,966.66666666666","173,500.0"
New York,Upper Brookville,"1,230,966.6666666667","1,230,966.6666666667","1,237,700.0","1,261,566.6666666667","1,295,166.6666666667","1,340,033.3333333333","1,403,666.6666666667","1,481,933.3333333333","1,536,166.6666666667","1,562,033.3333333333",...,"1,780,633.3333333333","1,749,233.3333333333","1,729,466.6666666667","1,749,866.6666666667","1,789,600.0","1,777,266.6666666667","1,834,366.6666666667","1,904,500.0","1,944,066.6666666667","1,968,800.0"
Hawaii,Volcano,"98,700.0","105,366.66666666667","114,666.66666666667","124,766.66666666667","118,133.33333333333","119,400.0","123,266.66666666667","121,166.66666666667","123,300.0","116,900.0",...,"206,466.66666666666","227,633.33333333334","233,200.0","234,633.33333333334","232,366.66666666666","224,966.66666666666","232,433.33333333334","242,066.66666666666","248,966.66666666666","247,850.0"
South Carolina,Wedgefield,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,"74,366.66666666667","70,266.66666666667","72,066.66666666667","75,700.0","72,066.66666666667","70,333.33333333333","69,033.33333333333","68,866.66666666667","74,266.66666666667","80,700.0"
Michigan,Williamston,"159,166.66666666666","161,300.0","164,300.0","166,200.0","166,433.33333333334","168,633.33333333334","171,666.66666666666","175,033.33333333334","178,666.66666666666","179,333.33333333334",...,"165,700.0","168,933.33333333334","170,866.66666666666","174,433.33333333334","175,866.66666666666","179,466.66666666666","182,300.0","181,466.66666666666","182,400.0","183,000.0"
Arkansas,Decatur,"63,600.0","64,400.0","65,666.66666666667","66,733.33333333333","67,200.0","67,700.0","66,500.0","65,400.0","64,600.0","64,900.0",...,"89,666.66666666667","92,566.66666666667","94,700.0","93,500.0","94,900.0","95,433.33333333333","97,000.0","96,500.0","96,633.33333333333","96,850.0"
Tennessee,Briceville,"40,000.0","41,733.333333333336","43,666.666666666664","44,900.0","44,800.0","45,300.0","44,633.333333333336","43,700.0","44,466.666666666664","43,400.0",...,"56,233.333333333336","54,233.333333333336","52,600.0","49,633.333333333336","45,900.0","47,933.333333333336","43,600.0","40,800.0","41,800.0","40,850.0"
Indiana,Edgewood,"91,700.0","91,866.66666666667","92,933.33333333333","94,900.0","98,933.33333333333","100,066.66666666667","100,833.33333333333","101,000.0","102,166.66666666667","101,766.66666666667",...,"92,133.33333333333","94,066.66666666667","94,666.66666666667","95,866.66666666667","94,333.33333333333","96,633.33333333333","99,966.66666666667","99,433.33333333333","99,966.66666666667","100,950.0"
Tennessee,Palmyra,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,"122,766.66666666667","126,933.33333333333","126,233.33333333333","122,300.0","120,466.66666666667","119,800.0","125,800.0","127,666.66666666667","132,866.66666666666","137,750.0"
Maryland,Saint Inigoes,"148,066.66666666666","147,600.0","157,233.33333333334","163,366.66666666666","164,233.33333333334","168,200.0","166,500.0","165,333.33333333334","167,300.0","168,800.0",...,"282,233.3333333333","288,433.3333333333","286,966.6666666667","284,700.0","280,766.6666666667","277,833.3333333333","276,833.3333333333","279,333.3333333333","282,633.3333333333","281,400.0"
Indiana,Marysville,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,"116,600.0","115,100.0","116,500.0","111,866.66666666667","111,800.0","115,666.66666666667","120,166.66666666667","128,233.33333333333","123,233.33333333333","124,200.0"
California,Forest Falls,"113,533.33333333333","114,400.0","114,166.66666666667","111,133.33333333333","113,433.33333333333","113,000.0","113,033.33333333333","115,166.66666666667","118,700.0","125,066.66666666667",...,"165,366.66666666666","167,500.0","177,100.0","176,533.33333333334","181,800.0","191,166.66666666666","198,733.33333333334","188,633.33333333334","189,866.66666666666","186,650.0"
Missouri,Bois D Arc,"107,800.0","106,966.66666666667","107,100.0","108,100.0","110,700.0","113,666.66666666667","112,633.33333333333","112,733.33333333333","113,066.66666666667","115,400.0",...,"137,566.66666666666","137,566.66666666666","140,400.0","145,033.33333333334","147,566.66666666666","146,300.0","149,433.33333333334","146,866.66666666666","143,766.66666666666","144,000.0"
Virginia,Henrico,"128,566.66666666667","130,766.66666666667","132,266.66666666666","133,266.66666666666","135,233.33333333334","136,733.33333333334","138,600.0","141,333.33333333334","143,533.33333333334","146,133.33333333334",...,"201,633.33333333334","204,000.0","205,900.0","206,566.66666666666","210,433.33333333334","212,100.0","213,966.66666666666","216,033.33333333334","216,200.0","220,150.0"

In [103]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    
    # grab mean housing data and reset index to be able to join to univ data
    housing = convert_housing_data_to_quarters()
    housing.reset_index(inplace=True)
    
    # grab recession start and bottom for price ratio calculation
    rec_start = get_recession_start()
    rec_bottom = get_recession_bottom()
    
    # get univ town data and create new columns to indicate whether it is a univ town
    univ = get_list_of_university_towns()
    univ['is_univ_town'] = 1
    # set index to be able to join to housing data
    univ.set_index(['State', 'RegionName'],inplace=True)
    
    # join housing data with univ_town data
    df = housing.join(univ, on=['State', 'RegionName'], how='left')
    df.set_index(['State', 'RegionName'], inplace=True)
    
    # calculate the qtr before recession start
    rec_start_qtr = rec_start[-1:]
    qtr_before_rec = int(rec_start_qtr) - 1
    before_rec = rec_start[:-1] + str(qtr_before_rec)
    
    # calculate price ratio
    df['price_ratio'] = df[before_rec] / df[rec_bottom]
    
    # create separate df with univ towns only and drop NaN
    univ = df[df['is_univ_town'] == 1]
    univ.dropna(subset=['price_ratio'], inplace=True)
    
    # create separate df with non-univ towns and drop NaN
    not_univ = df[df['is_univ_town'] != 1]
    not_univ.dropna(subset=['price_ratio'], inplace=True)
    
    # run ttest on price_ratio comparing univ and non-univ towns
    ttest = ttest_ind(univ['price_ratio'], not_univ['price_ratio'])
    
    # compare p-value from ttest to 0.01. Since p-value is less than 0.01, we reject the null hypothesis
    # Null hypothesis: University towns do not have their mean housing prices less effected by recessions
    if ttest[1] < 0.01:
        different = True
    else:
        different = False
    
    # compare mean of price_ratio for univ and non-univ towns
    if univ['price_ratio'].mean() > not_univ['price_ratio'].mean():
        better = 'non-university town'
    else:
        better = 'university town'
        
    return (different, ttest[1], better)
    
run_ttest()

(True, 0.0027240637047614541, 'university town')