In [1]:
# a) Load the Boston data set from the MASS library in R
library(MASS)

In [4]:
head(Boston,5)

  crim    zn indus chas nox   rm    age  dis    rad tax ptratio black  lstat
1 0.00632 18 2.31  0    0.538 6.575 65.2 4.0900 1   296 15.3    396.90 4.98
2 0.02731  0 7.07  0    0.469 6.421 78.9 4.9671 2   242 17.8    396.90 9.14
3 0.02729  0 7.07  0    0.469 7.185 61.1 4.9671 2   242 17.8    392.83 4.03
4 0.03237  0 2.18  0    0.458 6.998 45.8 6.0622 3   222 18.7    394.63 2.94
5 0.06905  0 2.18  0    0.458 7.147 54.2 6.0622 3   222 18.7    396.90 5.33
  medv
1 24.0
2 21.6
3 34.7
4 33.4
5 36.2

In [7]:
?Boston

In [6]:
# how many rows and columns are in the data set?
# There are 506 rows of data (or observations) of different suburbs in Boston
# and 14 different columns/variables/features describing the suburbs
dim(Boston)

[1] 506  14